/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(to right, #1e3c72, #2a5298);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 4rem;
  color: #fff;
  margin-inline: 3rem;
}

#game-container {
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;

  .title {
    font-size: 4rem;
    text-transform: uppercase;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.key {
  padding: 1rem;
  width: 5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.drawing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 1px solid #fff;
  width: 30rem;
  height: 20rem;
  margin-block: 2rem;
}

.game-control-btn {
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 18rem;

  &:hover {
    background-color: #fff;
    color: #1e3c72;
  }
}

.category {
  font-size: 2rem;
  margin-block: 2em;
}

.guessed-word {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
}

.lives {
  font-size: 2rem;
  margin-block: 2rem;
}
